.Track {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.Track-action {
  cursor: pointer;
  padding: 1px 6px 2px 6px;
  border-radius: 50%;
  border: none;
  font-size: 1.05rem;
  transition: color .25s;
  background-color: #6c41ec;
  color: white;
  margin-top: 35px;
}

.Track-action:hover {
  color: rgba(265, 265, 265, .5);
}

.Track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.Track-information audio{
  width: 90%;
    padding: 20px 0px;

}

.Track-information h3 {
  margin-bottom: .22rem;
}

.Track-information p {
  font-size: .83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}
